/* color variables */
body {
  --company-color1: rgb(74, 93, 169);
  --compnay-color2: rgb(200, 144, 49);
  --g-light: rgb(200, 200, 200);
  --g-dark: rgb(100, 100, 100);
  --white: rgb(225, 225, 225);
}

.app {
  background-color: var(--white);
}

.app__body {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 1300px;
}