.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: var(--g-dark);
    cursor: pointer;
}

.headerOption:hover {
    color: var(--company-color1);
}

.headerOption__title {
    font-size: 14px;
    font-weight: 500;
}

.headerOption__icon {
    object-fit: contain;
    height: 20px !important; /* overrides default */
    width: 20px !important;
}